.button {
    background-color: $primary-red;
    height: 40px;
    width: 290px;
    border-radius: 4px;
    line-height: 40px;
    padding: 0;
    @media screen and (max-width: 768px){
        width: 150px
    }
}