.header {
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: 40px;
    .top-header {
        margin-top: 10px;
        ul.inline-list {
            li {
                display: inline-flex;
            }
            li a {
                margin-left: 5px;
                font-size: 14px;
                line-height: 14px;
                color: $secondary-gray;               
            }
        }

    }
    .bottom-header {
        margin-top: 0;

        figure {
            margin: 0;
        }
        ul.inline-list {
            line-height: 42px;
            font-size: 20px;
            li a {
                color: $primary-gray;
            } 
        }
    }
    hr {
        margin:0;
    }
    #search {
        margin-top: 10px;
        width: 270px;
        @media screen and (max-width: 768px){
            width: 190px;
        }
    }
    #search::placeholder {
        padding-left: 50px;
        
    }
    .subheader {
        // border-top: 1px solid #D2D2D2;
        line-height: 2;
        padding: 18px 0;
        span {
            font-size: 16px;
            line-height: 16px;
        }
        #bundle-number {
            font-size: 20px;
            line-height: 20px;
        }
    }
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
}