.section {
    
    
}
.section--hero {
    padding: 100px 0;
    background-image: url( '../img/hero-bg@2x.png' );
    background-size: 1160px;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    margin-top: 0;
    margin-bottom: 40px;
    @media screen  and (max-width: 768px) {
        padding: 100px 0;
        background-image: url( '../img/hero-bg@2x.png' );
        background-size: 768px 485px;
        background-position: 0% 50%;
        background-repeat: no-repeat;
        margin-top: 0;
        margin-bottom:0;
    }
}//.section--hero

.section--plans {
    margin-top: 0;
    margin-bottom: 100px;
}//.section--plans
.section--free-install {

}//.section--free-install
.section--why__title {
    font-size: 36px;
    line-height: 36px;
    color: $primary-gray;
    letter-spacing: 1px;
}
.section--why__text {
    font-size: 16px;
    line-height: 24px;
    color: $secondary-gray;
}
.section--why__line {
    width: 170px;
    margin: 0 auto;
}