@font-face {  
    font-family: Nexa;
    src: url(../../../fonts/Market_vilis.ttf) 
    format("truetype");
}

.fa-angle-down {
    color: $primary-red;
}
.fa-angle-right {
    margin-left: 19px;
}
.fa-check {
    color: $teal-blue;
}
.fa-phone {
    // font-size: 20px;
    color: $primary-red;
}
body {
    font-family: Nexa;
}
// /Users/mrobinson/Documents/bootcamp/Sites/frontier/Nexa

// /Users/mrobinson/Documents/bootcamp/Sites/frontier/assets/scss/partials/_typography.scss